/* 
SimmerKitchen 
feuille de style principal
authors: Anas, Evan, ...
*/

h1 {
  font-family: sans-serif;
  font-size: larger;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: white;
  justify-content: space-between;
}

.header-logo {
  height: 50px;
  width: auto;
  padding: 5px;
}

.header-nav {
  font-family: "poppins", sans-serif;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-nav a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.header-nav a:hover {
  color: #7ad1b2;
}

.hero {
  display: flex;
  flex-direction: column;
}
.recette-create {
  display: flex;
  justify-content: center;
}

.image-banner {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Poppins", sans-serif;
  gap: 10px;
  font-size: 18px;
  width: 600px;
}

.send-recipe {
  font-size: larger;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7ad1b2;
  stroke: none;
  border: 0;
  color: white;
  border-radius: 20px;
}

.send-recipe:hover {
  background-color: #63a991;
}

.titre {
  font-family: "Poppins", sans-serif;
  padding-left: 300px;
  padding-right: 300px;
  color: #7ad1b2;
  text-align: center;
}

.steps {
  resize: none;
}

.ingredients {
  resize: none;
}

.description {
  resize: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
}

.container {
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

.card img {
  border-radius: 20px 20px 0 0;
  object-fit: fill;
  height: 150px;
  width: auto;
}

.card-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.card-link:hover {
  filter: brightness(80%);
}

.carrousel-card {
  display: flex;
  gap: 20px;
}

.button-login {
  color: white;
  background-color: #7ad1b2;
  padding: 10px;
  padding-inline: 20px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.button-login:hover {
  background-color: #63a991;
}
