/* 
SimmerKitchen 
feuille de style principal
authors: Anas, Evan, ...
*/

.form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding-left: 400px;
  padding-right: 400px;
  gap: 10px;
  font-size: 18px;
}

.send-recipe {
  font-size: larger;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7ad1b2;
  stroke: none;
  border: 0;
  color: black;
  border-radius: 20px;
}

.titre {
  font-family: "Poppins", sans-serif;
  padding-left: 300px;
  padding-right: 300px;
  color: #7ad1b2;
  text-align: center;
}

.steps {
  resize: none;
}

.ingredients {
  resize: none;
}

.description {
  resize: none;
}

nav {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #7ad1b2;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
}

.container {
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

.card img {
  border-radius: 20px 20px 0 0;
  object-fit: fill;
  height: 150px;
  width: auto;
}

.card-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.card-link:hover {
  filter: brightness(80%);
}

.carrousel-card {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
