.form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding-left: 400px;
  padding-right: 400px;
  gap: 10px;
  font-size: 18px;
}

.send-recipe {
  font-size: larger;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7ad1b2;
  stroke: none;
  border: 0;
  color: black;
  border-radius: 20px;
}

.titre {
  font-family: "Poppins", sans-serif;
  padding-left: 300px;
  padding-right: 300px;
  color: #7ad1b2;
  text-align: center;
}

.steps {
  resize: none;
}

.ingredients {
  resize: none;
}

.description {
  resize: none;
}

nav {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #7ad1b2;
}

/* CONNEXION */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  width: 400px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background: #7ad1b2;
}

.tab-button {
  flex: 1;
  padding: 15px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background 0.3s;
}

.tab-button:hover,
.tab-button.active {
  background: #3f7763;
}

.tab-content {
  padding: 20px;
  display: none;
}

.tab-content.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background: #7ad1b2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}
